.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

.container-box {
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.top-box {
    background-color: #e1e1e1;
    box-sizing: border-box;
    height: 25rem;
    margin: 0;
    text-align: center;


}

form {
  margin: 5rem auto 0;
}

.input-1 {

}

.input-2 {
  height: 3rem;
  margin: 2rem auto;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  width: 50%;
  border-radius: 10px;
  border-style: none;
}

.input-2::placeholder {
  opacity: 0.5;
  color: #ab1323;
}

#save {
  height: 3rem;
  width: 50%;
  background-color: #ab1323;
  border-radius: 10px;
}

#save:disabled {
  background-color: #660b15
}

#title {
  background-color: #fff;
  border: 22px solid #ab1323;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  padding: 100px;
  position: absolute;
  height: 15%;
  width: 500px;
  top: -6rem;
  left: -17rem;
  z-index: 22;

}

#what {
  color: #171717;
}

#to {
  color: #ab1323;

}

#do {
  color: #171717;
}

#top-box {
  height: 46rem;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

#motivation {
  animation: 1s ease-out 0s 1 slideInFromRight;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-size: 34px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  z-index: -12;
  letter-spacing: 1rem;



}

#write-it {
  background-color: #f6f6f6;
  transition: all 2.5s ease;
  width: 66%;
  position: relative;
  right: -20%;


}

#do-it {
  background-color: #f6f6f6;
  text-align: center;
  transition: all 3.5s ease;
  width: 66%;

  position: relative;
  right: -30%;

}

#feel-good {
  background-color: #f6f6f6;
  text-align: right;
  transition: all 4.5s ease;
  width: 50%;
  position: relative;
  right: -50%;
}

#feel-good p,
#do-it p,
#write-it p {
  color: #ab1323;

}
#feel-good p {
  padding-right: 12rem;
}

#h4 {
  color: #171717;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2rem;
  border-bottom: 2px solid #ab1323;
  margin: 1rem auto;
  width: 30%;
}

#search-input {
    height: 40px;
    margin: 10px auto;
    border: 2px solid #ab1323;
    border-radius: 10px;
    width: 50%;
}


h1{
    color: #6d6e71;
    display: block;
    font-size: 275%;
    margin: 0;
}

.idea {
    color: #00a79d;
}

/* #title-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

#body-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

#search-input {
    height: 30px;
    margin-top: 0;
    width: 45%;
} */

.save-btn, .display-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}

.save-btn:hover, .display-btn:hover {
    background-color: #045e55;
}

.save-btn:disabled {
  background-color: #bfe3df;
}

.display-btn {
    margin: 1rem auto;
}

input {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    justify-content: space-between;
    margin: auto;
}

.card-container {
    margin: 1rem auto;
    position: relative;
    width: 48%;
    border: 2px solid #ab1323;
    border-radius: 10px;
    padding: 1rem;
}

.card {
    background-color: #ffffff;
    height: auto;
    margin: auto;
    width: 45%;
}

.title-of-card{
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

h2 {
   color: #6d6e71;
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

p {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
}

.body-of-card{
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.complete {
  cursor: pointer;
  float: right;
  font-size: 18px;
  color: rgba(235, 63, 52, 0.69);
  margin-right: 10px;
}

.completed {
  color: rgba(48, 224, 8, 0.57);
}

.upvote {
    background-image: url(./images/upvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

.upvote:hover {
    background-color: transparent;
    background-image: url(./images/upvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.downvote {
    background-image: url(./images/downvote.svg);
    background-size: cover;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

.delete-button {
    background-image: url(./images/delete.svg);
    background-size: cover;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
    background-size: cover;
    height: 20px;
    width: 20px;
}

h4 {
    color: #6d6e71;
    text-align: center;
    margin: 1em 0 0 0;
}

.filter-grid-wrap {
    display: inline-block;
}

.priority-filter {
    margin:auto;
}

.pri-text {
    margin-top: 0;
    text-align: center;
}

.fa-dot-circle {
    font-size: 2em;
    margin: 1em 2em .5em 2em;
}

.fa-dot-circle:hover {
    color: #ab1323;
    cursor: pointer;
}



@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    #search-input {
        border: solid #999 1px;
    }
}


.red {
  color: rgb(212, 42, 19)
}
